@inherits LayoutComponentBase

<div class="flex w-full h-screen">
    <aside class="w-72 h-screen flex-none p-4 space-y-4 overflow-y-auto shadow bg-white dark:bg-slate-800">
        <Sidebar />
    </aside>

    <main class="flex-1 p-4">
        <div class="overflow-auto rounded-md p-4 shadow bg-white dark:bg-slate-800">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
