@inherits LayoutComponentBase

<div class="flex flex-wrap bg-red-7 w-full h-screen">
    <div class="w-3/12 bg-white p-3 shadow-lg">
        <NavMenu />
    </div>

    <div class="w-9/12">
        <div class="p-4 text-gray-500">
            @Body
        </div>
    </div>
</div>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
