<div class="flex items-center space-x-4 p-2 mb-5">
    <img class="h-12 rounded-lg" src="https://gravatar.com/avatar/056be71d2c1bf7e02e5abe0e2d00a502" alt="Spottarr User">
    <div>
        <h4 class="font-semibold text-lg text-gray-700 capitalize font-poppins tracking-wide">Spottarr User</h4>
        <span class="text-sm tracking-wide flex items-center space-x-1">user@spottarr.com</span>
    </div>
</div>
<ul class="space-y-2 text-sm">
    <li>
        <NavLink Match="NavLinkMatch.All"
                 ActiveClass="bg-gray-200"
                 href=""
                 class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:shadow-outline">
            <span>Home</span>
        </NavLink>
    </li>
    <li>
        <NavLink ActiveClass="bg-gray-200"
                 href="settings"
                 class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
            <span>Settings</span>
        </NavLink>
    </li>
</ul>
