# Disable checks in generated migrations
[{src/Spottarr.Data.Sqlite/Migrations/*.cs,src/Spottarr.Data.PostgreSql/Migrations/*.cs}]
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.CA1825.severity = none

# Consider calling ConfigureAwait on the awaited task
[*.cs]
dotnet_diagnostic.CA2007.severity = none