<div class="space-y-2">
    <ul>
        <SpotCategoryNavItem Title="Movies" Color="sky" Icon="movies">
            <li>DivX</li>
            <li>WMV</li>
            <li>MPG</li>
            <li>DVD5</li>
            <li>HD other</li>
            <li>Blu-ray</li>
        </SpotCategoryNavItem>
        <SpotCategoryNavItem Title="Series" Color="emerald" Icon="movies">
            <li>DivX</li>
            <li>WMV</li>
            <li>MPG</li>
            <li>DVD5</li>
            <li>HD other</li>
            <li>Blu-ray</li>
        </SpotCategoryNavItem>
        <SpotCategoryNavItem Title="Audio" Color="amber" Icon="movies">
            <li>Album</li>
            <li>Live set</li>
            <li>Podcast</li>
            <li>Audiobook</li>
        </SpotCategoryNavItem>
        <SpotCategoryNavItem Title="Games" Color="red" Icon="movies">
            <li>Windows</li>
            <li>macOS</li>
            <li>Android</li>
            <li>Linux</li>
        </SpotCategoryNavItem>
        <SpotCategoryNavItem Title="Applications" Color="fuchsia" Icon="movies">
            <li>Windows</li>
            <li>macOS</li>
            <li>Android</li>
            <li>Linux</li>
        </SpotCategoryNavItem>
    </ul>
</div>